[task]
name=overall
url=http://172.16.1.66:8000/das
data={"databaseId":44,"appid":"tts_app","method":"sch.overall.exec"}
method=POST
repeat=minute
interval=30
[task1]
name=overall
url=http://172.16.1.66:8000/das
data={"databaseId":22,"appid":"tts_app","method":"sch.overall.exec"}
method=POST
repeat=minute
interval=30