[Unit]
Description=alog
After=network.target

[Service]
ExecStart=/bin/alog/alog &
Restart=always
KillMode=process
RestartSec=on-failure

[Install]
WantedBy=multi-user.target